.row.border{style: "padding-top: 5px;"}
  .container{style: "height: 750px; font-size: 9px !important"}
    %table.width_100
      %tr
        %th.description_header
          Cant.
        %th.description_header
          Producto/Servicio
        %th.description_header
          Marca
      - details.compact.each do |det|
        %tr{style: "height: 25px !important;"}
          %td.text_center
            = det['quantity']
          %td
            = det['product_name']
          %td
            = det['branch']
