.row.footer_bottom
  .container.border{style: 'font-size: 11px;'}
    %br
    %table.width_100
      %td{style: "padding: 50px 40px 20px;"}
        Firma
      %td{style: "padding: 50px 40px 20px;"}
        Aclaración
      %td{style: "padding: 50px 40px 20px;text-align:right"}
        DNI
  .container.border
    %table.width_100{style: 'font-size: 7px;'}
      %tr.border
        %td.text_justify{style: "padding: 10px 40px;", colspan:2}
          En virtud de lo dispuesto por el art. 2 de la Ley 26.529, no podrá ser exigible la presentación médica del paciente como requisito para el pago del precio de los productos. Con la Factura se acompañará únicamente el correspondiente remito y el certificado de implante.
      %tr
        %td.text_justify{style: "padding: 10px 40px 10px;", colspan:2}
          NOTA: En caso de suspensión definitiva de la intervención por razones ajenas a nuestra empresa, no se realizan reintegros de dinero ni anulación de órdenes de compra por el material adquirido, solo se podrá realizar una nota de crédito deduciendo los gastos correspondientes a la gestión, siempre y cuando el material se encuentre en óptimas condiciones.
%br
.text_center
  Página
  = "#{page_number} de #{total_pages}"
