/ PIE DE PAGINA
.text_center
  %table.width_100{style:'margin-top: 30px;'}
    %td{style: "padding: 50px 40px 20px;"}
      Firma
    %td{style: "padding: 50px 40px 20px;"}
      Aclaración
    %td{style: "padding: 50px 40px 20px;text-align:right"}
      DNI
  %div{style:'margin-top: 10px;'}
    Página #{page_number} de #{total_pages}
/ FIN PIE DE PAGINA
