= index_table(collection: collection, icon: 'list-alt', text: "Ordenes de venta")

= modal("#{icon('fas', 'cogs')} Configurar campos", "config_modal", "config_modal_body", "big") do
	.modal-body
		= yield