= index_table(icon: 'truck-moving', collection: collection, text: "Consumos")

= modal("#{icon('fas', 'cogs')} Configurar campos", "config_modal", "config_modal_body", "big") do
	.modal-body
		= yield