.row.footer_bottom
  .container.border
    %table.width_100
      %tr.container{style: "height: 20px;"}
        %td{colspan:3}
      %tr.container{style: "height: 20px;"}
        %td{colspan:3}

      %br
        %td{style: "padding: 40px;"}
          Conf. Comp.
        %td{style: "padding: 40px; text-align:right"}
          Autorizó
