.row.footer_bottom
  .container.border
    %table.width_100
      %tr.border
        %td.text_justify{style: "padding: 0 40px;", colspan:2}
          No se aceptará devoluciones de mercadería o reintegro de dinero trasncurrido 5 días desde la fecha de entrega
      %tr.container{style: "height: 20px;"}
        %td{colspan:2}
      %tr.container{style: "height: 20px;"}
        %td{colspan:2}

      %br
        %td{style: "padding: 40px;"}
          Firma autorizada
        %td{style: "padding: 40px; text-align:right"}
          Aclaración
