= index_table(icon: 'file-import', text: "Remitos de devolución", path: new_delivery_note_path(purchase_file_id: @expediente.try(:id)), jpath: delivery_notes_path(format: :json), columns: DeliveryNote::TABLE_COLUMNS)
