<% total_page = 0 %>
<!--  @group_details lo cree en el controlador de delivery_notes (en el show) con un include de productos. Son los detalles del remito en grupos de a 20 -->
<% @group_details.each_with_index do |details_page, index| %>
 <div class="alwaysbreak">
   <%= render template: '/delivery_notes/pdf_partials/_header.html.erb' %>
   <%= render template: '/delivery_notes/pdf_partials/_details.html.erb', :locals => { :details => details_page.compact} %>
   <%= render template: '/delivery_notes/pdf_partials/_footer.html.erb', :locals => { :page_number => (index + 1), :total_pages => @group_details.count } %>
 </div>
<% end %>
