.row
  .container.border_round{style: "height: 780px; font-size: 9px;"}
    %table.width_100{style: "padding: 0px 10px 0 10px;"}
      %tr
        %th.description_header
          Cant.
        %th.description_header
          Producto/Servicio
        %th.description_header
          Precio
        %th.description_header
          Subtotal
      %tbody{style: "height: 25px !important;"}
        - details.each do |det|
          %tr
            %td.text_center
              = det['quantity'].to_i
            %td
              = det['product_name']
            %td.text_right
              = det['price']
            %td.text_right
              = det['total']
