= pie_chart vendor_client_charts_company_path(company, init_date: params[:init_date] || Date.today.at_beginning_of_year, final_date: params[:final_date] || Date.today.at_end_of_year), prefix: "$", messages: {empty: "Sin datos"}

