.border
  %table.width_100
    %tr.container{style: "height: 20px;"}
      %td{colspan:2}

    %br
      %td{style: "padding: 40px;"}
        Firma autorizada
      %td{style: "padding: 40px; text-align:right"}
        Aclaración
