.card.mb-3
  .card-body.d-flex.align-items-center
    = image_tag user.avatar, class: 'rounded-circle', style: "height: 107px"
    .ml-3
      %p.h5
        = user.name
      = link_to "Editar perfil", edit_user_registration_path()
