<!-- DETALLE -->
<div class="row">
  <div class="container" style="height: 980px;">
    <table class="width_100">
    <tr>
      <th class="description_header">Codigo</th>
      <th class="description_header">Producto/Servicio</th>
      <th class="description_header">Cantidad</th>
      <th class="description_header">U.Medida</th>
    </tr>

    <% details.compact.each do |det| %>
        <tr>
          <td><%= det.product_supplier_code %></td>
          <td><%= det.product_name %></td>
          <td class="text_right"><%= det.returned_quantity %></td>
          <td class="text_right"><%= det.product.measurement_unit %></td>
        </tr>
    <% end %>
  </table>
  </div>
</div>
<!-- FIN DEL DETALLE -->
