= render template: "/human_resources/attendances/index", locals: {collection: attendance_resume.attendances, attendance_resume_id: attendance_resume.id, path: "attendance_resume", object: 'attendance_resume'}
