.index
	.index-title
		.principal
			#{icon('fas', 'briefcase')} Reporte de clientes
	#bmenu.mx-4.d-flex.justify-content-between.align-items-center
	.index-body.table-responsive
		%table#paginated_table.table{data: {source: reports_clients_path(format: :json)}}
			%thead.thead-light
				%tr
					%th.actions{scope: 'col'} Cliente
					%th.actions{scope: 'col'} Saldo
					%th.actions{scope: 'col'} Acciones
			%tbody.table-bordered

	= table_script(DatatableConstants::Reports::Client.merge("actions" => ""))

