.border-left-warning{
  border-left: 15px solid #ffc107 !important;
}

.border-left-info{
  border-left: 15px solid #17a2b8 !important;
}

.border-left-primary{
  border-left: 15px solid #007bff !important;
}

.border-left-danger{
  border-left: 15px solid #dc3545 !important;
}

.border-left-secondary{
  border-left: 15px solid #6c757d !important;
}

.border-left-sucess{
  border-left: 15px solid #28a745 !important;
}
