@font-face {
  font-family: Montserrat;
  font-weight: bold;
  font-style: normal;
  src: font-url('montserrat-font/Montserrat-Black.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  src: font-url('montserrat-font/Montserrat-Bold.ttf');
}
@font-face {
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
  src: font-url('montserrat-font/Montserrat-SemiBold.ttf');
}

body {
  font-family: sans-serif;
  font-size: 0.9rem;
}
