= index_table(text: "Registros", icon: 'list-alt', collection: collection, can_new_path: false, jpath: activities_path(parent_class: 'Client', parent_id: client_id))

= modal("#{icon('fas', 'eye')} Ver registro", "show_activity_modal", "show_activity_body") do
	.modal-body
