.row.footer_bottom
  .container.border
    %table.width_100{style: "font-size: 11px"}
      %tr
        %td.text_center
          No se aceptan devoluciones de mercaderia o reintegro del dinero

%br
.text_center
  Página
  = "#{page_number} de #{total_pages}"
